
#nav{
    width: auto;
    border-radius: 0px;
    background-color: transparent !important;
}
#current{   
    background-color: tomato;
    border-radius: 30%;
}
.Welcome{
    color: #ffffff;
    text-align: center;
}
.text{
    margin: auto;
    width: 60%;
    margin-top: 28svh;
    float: right;
    margin-right: 7svw;

}
.info{
    color: #ffffff;
    text-align: center;
}

.grid {
    display: grid; 
 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 0px;
    height: 100%;
    
    
 }
   
 #item0 {
 
    background-color: transparent; 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 4;
    grid-column-end: 3;
    color: white;
    
    
 }

 #item0text{
    margin-left: 10svw;
    width: 30svw;
 }
 #item1 {
 
    background-color: transparent; 
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 2;
    grid-column-end: 5;
    
 }
 #item2 {
 
    background-color: transparent; 
    grid-row-start: 2;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 5;
    
 }
 #item3 {
 
    background-color: transparent; 
    grid-row-start: 3;
    grid-column-start: 3;
 
    grid-row-end: 4;
    grid-column-end: 5;
    
 }
 

 #form{
    position: absolute;
    margin-left: 10svw;
 }


 #contact{
    color: white;
    text-align: center;
    margin-top: 10svh;
 }
 
 #shit{
    background-color: transparent;
 }

 .id{
    color: white !important;
    background-color: white !important;
 }

 .dropdown-menu label,
.dropdown-menu input,
.dropdown-menu textarea,
.dropdown-menu {
    color: rgb(0, 0, 0) !important;
}

#background{
    background-color: rgb(255, 255, 255);
}


.project-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px 0;
}

#item0,#item1,#item2,#item3{
    color: white;
    margin-top: 5svh;
}

#contact{
    text-align: center;
    align-items: center;
    align-self: center;
}

#white{
	color: white;
}

.scrollable-div {
    height: 90svh;
    overflow-y: auto;
	color: white;
	width: auto;
}
.project-image {
            float: right;
        }

.project-div {
    margin-bottom: 50px;
}

.scrollable-div::-webkit-scrollbar {
	display: none;
}

#text{
    float: left;
    max-width: 10px;
}

.star {
    position: absolute;
    width: px;
    height: px;
    background-color: white;
    border-radius: 50%   ;
    /* Add other styles as needed */
}

canvas{
    position: absolute !important;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #260731 0%, #040448 100%);
    top: 0;
    float: left;
    left: 0;
    z-index: -1;

}

body {
    overflow: hidden;
  }

#portret{
    max-width: 30svw;
    margin-top: 160px;
    margin-left: 3svw;
    max-height: 500px;
    height: auto;
}

#cv{
    background-color: gray;
    border: solid 1px black;
    border-radius: 14%;
    color: white;
    text-decoration: none;
    
}